@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", arial;
}
nav {
  background-color: rgb(21, 36, 36);
  padding: 12px;
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  align-items: center;
}
nav img {
  width: 20%;
  height: 20%;
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  margin-top: 3.5%;
  font-size: 4em;
}
.logo {
  display: flex;
  user-select: none;
}
.url a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 120%;
  margin-left: 22px;
  margin-right: 30px;
}
main {
  padding-top: 2%;
  background: rgb(21, 36, 36);
  background: linear-gradient(
    180deg,
    rgba(21, 36, 36, 1) 0%,
    rgba(14, 27, 27, 1) 100%
  );
}
.title {
  color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 90%;
  margin: auto;
  height: 50rem;
}
h2 {
  font-weight: 700;
  font-size: 2.5rem;
}
h3 {
  color: #f8f8f898;
  font-weight: 100;
  font-size: 1rem;
  margin-top: 4%;
}
.link {
  background-color: rgb(0, 183, 255);
  padding: 11px 22px;
  border-radius: 12px;
  margin-top: 10%;
  width: 30%;
  text-align: center;
}
.link a {
  text-decoration: none;
  color: #f8f8f8;
}
.title img {
  width: 47%;
  max-width: 860px;
}
.other {
  background-color: #17191a;
  padding: 14px;
  color: #f8f8f8;
}
.other h2 {
  margin-top: 12px;
  text-align: center;
}
.other h4 {
  text-align: center;
  margin-top: 12px;
  margin-bottom: 24px;
}
.planets {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 34px;
}
.other img {
  width: 90%;
}
.new {
  background-color: #17191a;
  height: 18rem;
  color: #ececec;
  padding-top: 2%;
}
.new h3 {
  color: #ffffffe0;
  margin: 1px;
}
.popup {
  background-color: #3b3b3b;
  width: 70%;
  height: 80%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 12px;
  padding: 1.5%;
  margin: auto;
}
.new .link {
  background-color: rgb(0, 183, 255);
  padding: 11px 22px;
  border-radius: 12px;
  width: 23%;
  text-align: center;
  margin: 0px;
  margin-top: 42px;
}
.new a {
  text-decoration: none;
  color: #f8f8f8;
}
.signup {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 96%;
}
footer {
  background-color: #17191a;
  color: #fff;
  text-align: center;
  padding: 1%;
  width: 100%;
}
